<!-- <app-suma [num1]="3" [num2]="45"></app-suma>
<app-cronometro [num]="5" (mensaje)="mensajeRecibido($event)"></app-cronometro>

<input type="text" (input)="onInput($event)" [value]="textoInput" />
<p>{{ textoInput }}</p>

<input type="text" [(ngModel)]="propiedadesParrafo.color" />

<p [ngStyle]="propiedadesParrafo">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
  molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
  numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
  optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
  obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
  nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit
</p>

<p [ngClass]="{ azul: colorInMoment == 'b', rojo: colorInMoment == 'r' }">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nobis
  voluptatem quam voluptates iusto sed corporis adipisci tempore quibusdam omnis
  dolorem assumenda, voluptate tenetur quis qui. Et quia aliquid incidunt?
</p>

<button (click)="onClick()">{{ muestraTexto ? "Esconder" : "Ver" }}</button>
<p *ngIf="muestraTexto == true">El madrid ganara la 14</p>


 -->

<app-form-todo (arrayEmitido)="arrayRecibido($event)"></app-form-todo>
<app-list-todo [listaTareasRecibida]="listaTareasRecibida"></app-list-todo>
